*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    direction: rtl;
}
.nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    padding: 2rem;
    width: 50%;
    background-color: rgb(217, 215, 215);
    align-items: center;
    position: relative;
}

.nav-items .nav-item{
    list-style: none;
    padding: 1rem;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    letter-spacing: .1rem;
}

.nav-items .nav-item .nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.nav-items .nav-item .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    transition: .8s;
    font-size: 1rem;
    color: orange;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.nav-items .nav-item .nav-btn:hover{
    transform: translateY(-.2rem);
}


.nav-items .nav-item .dropdown1{
     display: flex; 
    flex-direction: row;
    position: absolute;
    width: 30rem;
    background-color: white;
    border-radius: 1rem;
    padding: .2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    /* display: none; */
}
/* .nav-items .nav-item:hover .dropdown1{
    display: block;
} */

.nav-items .nav-item .dropdown1 .dropdownLeft h3,
.nav-items .nav-item .dropdown1 .dropdown-right h3 {
    border-bottom: 1px solid rgb(190, 187, 187);
    font-size :1.6rem;;
}

.nav-items .nav-item .dropdown1 .dropdown-right{
    border-right: 1px solid rgb(190, 187, 187);
    color: #8698a7;
    padding-left: 2rem;
    width: 70%;
}


.nav-items .nav-item .dropdown1 .dropdown-right .services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}   

.nav-items .nav-item .dropdown1 .dropdown-right .services .services-item{
    display: flex;
    padding: .5rem;
} 

.nav-items .nav-item .dropdown1 .dropdown-right .services .services-item .services-logo{
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 2rem;
    padding: .3rem;
}


.nav-items .nav-item .dropdown1 .dropdownLeft{
    color: #8698a7;
    line-height: 2rem;
    width: 30%;
    padding-right: 2rem;
}

.nav-items .nav-item .dropdown1 .dropdownLeft .featureItem i{
    display: inline-block;
    width: 2rem;
    font-size: 1rem;
    color: #8698a7;
}

.nav-items .nav-item .dropdown1 .dropdownLeft .featureItem span{
    font-size: 1rem;
}