body{
    background-color: white;
}

#header{
    background-color: #82ffbb;
}


p{
    color: #53f7a0 ;
}

#footer{
    background-color: #3a4e43;
    color: white;
}

#about-me{
    background-color: #476154;
}

